{% extends "blog/basic.html"%}
{% load crispy_forms_tags %}


     {%block content%}
           {% if messages %}
                {% for message in messages %}
                      <div class="alert alert-danger"> {{message }}</div>
                {% endfor %}
            {% endif %} 
            
     	<div class="content-section">
     		<form method="POST">
     			{% csrf_token %}
                <fieldset class="form-group">
                	<legend class="border-bottom mb-4">JOIN TODAY</legend>
                	{{ form|crispy }}
                	
                </fieldset>

                <div class="form-group">
                	<button class="btn btn-outline-info" type="submit"> Sign Up</button>
                </div>
                <center>
                <div class="border-top pt-3">
                	<small class="text-muted">Already user?<a href={% url 'login'%}>Signin</a>
                		</small
                </div>
            </center>
     		</form>
     			
     		
     	</div>
         
	 {%endblock%}