body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #dc3545;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.body{
  font-family:'robot', sans-serif;

}
*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
}
.sidebar{
  position:fixed;
  padding:10px;
  left:-260px;
  width:250px;
  height:100%;
  border-color: #ebebe0;
  border-width: 1px;
  border-style: solid;
  margin-top: 15px;
  background-color: #ffffff;
  transition: all .5s ease;
  
  
}
.sidebar header{
  font-size:22px;
  color:white;
  text-align:center;
  line-height:70px;
  background:#dc3545;
  user-select:none;
}
.sidebar ul a{
  display:block;
  height:100%;
  width:100%;
  line-height: 65px;
  font-size:20px;
  color:black;
  padding-left: 40px;
  box-sizing:border-box;
  border-top: 0.5px ;
  border-bottom: 0.5px ;
  transition:.4s;
}
ul li:hover a{
  padding-left:50px;
}
.sidebar ul a i{
  margin-right:16px;
}
#check{
  display:none;
}
label #btn, label  #cancel{
  position:absolute;
  cursor:pointer;

}
label #btn{
  left:15px;
  top:20px;
  font-size:25px;
  color:white;
  transition: all; 
}
label #cancel{
  z-index: 1111;
  left:-195px;
  top:20px;
  font-size:20px;
  padding:50px 10px  ;
  color:black;
}
#check:checked ~ .sidebar{
  left:0;
}
#check:checked ~ label #btn{
  left:250px;
   opacity:0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left:195px;
  
}